.completed {
    color: lightslategray;
    text-decoration: line-through;
}
/* 
.is-hover {
    color: blue;
} */

.on-back {
    position: relative;
}

.on-front {
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1.25rem;
}

.invisible-icon{
    display: none;
}

.is-hover .invisible-icon{
    display: initial;
}