.completed {
    color: lightslategray;
    text-decoration: line-through;
}

.isHover {
    color: blue;
}

.on-back {
    position: relative;
}

.on-front {
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1.25rem;
}

.invisibleIcon{
    display: none;
}